<template>

  <div class="card">
    <input class="check"
      type="checkbox"
      v-model="checked"
      true-value="true"
      false-value="false"
      id="check"
      @click="clicked()"/>
      <label class="name" for="check">{{teacher}}</label>
  </div>
</template>

<script>
export default {
  name: 'CheckUser',
  props: {
    teacher: String},
  data () {
    return {
      teacher: this.teacher,
      checked: "false"
    }
  },
  methods: {
    clicked(){
      EventTeacher.$emit('checkboxClicked', this.teacher, this.checked);
    }
  }
}


</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.card{
  width: 100px;
  height: 30px;
}
.checkbox{
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  float: left;
  display:block;
}
.name{
  height: 30px;
  width: 70px;
  line-height: 30px;
  text-align: center;
  padding: 0px;
}
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

</style>
