<template>

  <div class="card">
    <lable class="lable">{{name}}</lable>
    <div class="checkUser" v-for="teacher in teachers" :key="teacher.id" v-if="name !== teacher">
      <CheckUser :teacher="teacher"></CheckUser>
    </div>
    <div v-for="teacher in checkedUsers" :key="teacher.id">
      {{teacher}}
    </div>
  </div>
  

</template>

<script>
import CheckUser from './CheckUser'
export default {
  components: {CheckUser},
  name: 'CheckUserList',
  props: {
    name: String,
    teachers: Array,
    id: String
  },
  data () {
    return {
      teachers: this.teachers,
      name: this.name,
      checkedUsers: [],
      id: this.id
    }
  },
  methods: {
  },
  created(){
    EventTeacher.$on('checkboxClicked', (teacher, checked) => {
      if(checked !== 'true'){
        this.checkedUsers.push(teacher);
      } else {
        let index = this.checkedUsers.indexOf(teacher);
        this.checkedUsers.splice(index, 1);
      }  
    })
  }

}


</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.lable{
  height: 200px;
  width: 90px;
  line-height: 200px;
  text-align: center;
  /* border: 2px dashed #f69c55; */
  float: left;
}
.checkUser{
  height: 30px;
  width: 100px;
  line-height: 30px;
  /* text-align: center; */
  /* border: 2px dashed #f69c55; */
  float: right;
}
</style>
