<template>
  <div class="main">
    
  </div>

</template>

<script>
import axios from 'axios';
import CheckUserList from './CheckUserList'
export default {
  components: {CheckUserList},
  name: 'HelloWorld',
  data () {
    return {
      tree: {'Siroun': [
          {'Hiba': []},
          {'Sara': [
              {'Samar': []},
              {'Hassan': []}
          ]}
      ]},
      info = null
    }
  },
    // Pushes posts to the server when called.
  postPost() {
    axios.post(`http://jsonplaceholder.typicode.com/posts`, {
      body: this.postBody
    })
    .then(response => {})
    .catch(e => {
      this.errors.push(e)
    })

    // async / await version (postPost() becomes async postPost())
    //
    // try {
    //   await axios.post(`http://jsonplaceholder.typicode.com/posts`, {
    //     body: this.postBody
    //   })
    // } catch (e) {
    //   this.errors.push(e)
    // }
  },
  methods: {
      filter(){
          let array = [];
          let hanin = function(object){
              let obj = {};
              let keys = Object.keys(obj);
              let name = keys[0];
              obj['name'] = name;
              let teachers = [];
              for(let i = 0; i < this.tree[name].length; i++){
                teachers.push()
              }
          }
      }
  }
  
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
