<template>
  <div class="main">
    <div class="userData">
      <lable>Enter Name</lable>
      <input type="text" placeholder="Name" v-model="teacher"/>
      <button @click="add">Add</button>
    </div>
    
    
    <div class="allTeachers">
      <ul>  
        <li class="teacher" v-for="teacher in teachers" :key="teacher.id">
          {{teacher}}
        </li>
      </ul>
    </div>
    
    <ul class="checkUserList">
      <li class="list" v-for="teacher in teachers" :key="teacher.id">
        <CheckUserList :id="teacher" :name="teacher" :teachers="teachers"></CheckUserList>
      </li>
    </ul>
  </div>

</template>

<script>
import CheckUserList from './CheckUserList'
export default {
  components: {CheckUserList},
  name: 'HelloWorld',
  data () {
    return {
      teachers: ['Siroun', 'Hiba', 'Samar', 'Hassan', 'Sara', 'Rana'],
      teacher: null,
    }
  },
  methods: {
    add(){
      this.teachers.push(this.teacher);
      this.teacher = null;
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.main{
  margin: 0 auto;
  width: 960px;
}
.userData{
  width: 200px;
  margin: 0 auto;
}
.allTeachers{
  width: auto;
}
.teacher{
  height: 90px;
  width: 90px;
  line-height: 90px;
  text-align: center;
  border: 2px dashed #f69c55;
  margin-top: 10px;
}
.checkUserList{
  width: auto;
}
.list{
  height: 200px;
  width: 200px;
  /* line-height: 200px; */
  text-align: center;
  border: 2px dashed #f69c55;
  margin-top: 10px;
}
</style>
